@media(max-width: 768px){
    header{
        gap: 285px;
    }
    
    #hero{
        margin-top: 75px;
    }
    
    .hero-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hero-img img{
        width: 300px;    
    }
    
    .hero-text{
        padding: 20px 30px;
        align-items: center;
    }
    
    .services-container{
        flex-wrap: wrap;
    }
    
    .services-card{
        width: 40%;
    }
    
    #contact{
        width: 100%;
    }
    
    .contact-container-data{
        width: 60%;
        gap: 15px;
        padding: 20px 0 20px 0;
    }
    
    .contact-container-img{
        width: 40%;
    }
    
    .contact-img{
        width: 285px;
    }

    .whatsapp img{
    position: fixed;
    bottom: 25px;
    right: 15px;
    width: 60px;
    }
    
    }

@media(max-width: 425px){
    header{
        flex-direction: column;
        gap: 0;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    #hero{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        width: 100%;
        padding: 10px 0 10px 0;
}
#hero img{
    width: 390px;
}

.hero-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#services{
    display: flex;
    width: 100%;
    padding: 10px 0 10px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-container{
    width: 100%;
    flex-direction: column;
}

.services-card{
    width: 75%;
}

#contact{
    flex-direction: column;
    align-items: center;
    padding: 10px 0 10px 0;
}

.contact-container-data{
    width: 100%;
}

.contact-img{
    width: 390px;
}
}

@media(max-width: 375px){
    header{
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }
        #hero{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 100px;
            width: 100%;
            padding: 10px 0 10px 0;
        }
        .hero-text{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .hero-img{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .hero-img img{
            width: 300px;
            align-items: center;
            justify-content: center;
        }
        
        .hero-buttons .hero-button-read,
        .hero-buttons .hero-button-call{
            font-size: 12px;
        }
        
        #contact{
            flex-direction: column;
            align-items: center;
            padding: 10px 0 10px 0;
        }
        
        .data-redes img{
            width: 35px;
        }
        
        .contact-img{
            width: 300px;
        }
        
        .data-redes li{
            font-size: 1rem;
        }
        
        .contact-data{
            justify-content: center;
        }
        
        .contact-container-data h3{
            font-size: 2rem;
        }
        
        .contact-data-ejemplo1,
        .contact-data-ejemplo2 li{
        font-size: 12px;
        }
        
        .contact-container-data{
            flex-direction: column;
            align-items: center;
            gap: 25px;
            width: 100%;
        }
        
        #services{
            display: flex;
            width: 100%;
            padding: 10px 0 10px 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .services-container{
            width: 100%;
            flex-direction: column;
        }
        
        .services-card{
            width: 75%;
        }
        
        .services-subtitle{
            width: 87%;
        }
        .whatsapp img{
            width: 50px;
            bottom: 15px;
            right: 10px;
        }
        }

@media(max-width: 320px){
    .navbar-list-options{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 10px 0 10px;
    }

    #hero h1{
        text-align: center;
    }

    .hero-text{
        margin-top: 50px;
    }

    .hero-img img{
        display: none;
    }

    .services-card{
        width: 70%;
    }

    .services-container{
        margin-top: 20px;
    }

    .contact-data{
        flex-direction: column;
    }

    .contact-img{
        display: none;
    }
}