@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color1);
    
}

:root{
    --color1: #F6F7C1;
    --color2: #BEF0CB;
    --color3: #D1FFF3;
    --color4: #C1AEFC;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/*===========================NAVBAR===========================*/
header{
    /*background-color: var(--color4);*/
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    padding: 10px 0;
    gap: 350px;

    background-color: rgba(193, 174, 252, 1);
    background-image: linear-gradient(180deg, rgba(193, 174, 252, 1) 15%, rgba(246, 247, 193, 1) 100%);
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-list-options{
    display: flex;
    gap: 25px;
    list-style: none;
    font-weight: 600;
    }

.navbar-list-options li a{
    text-decoration: none;
    color: black;
}

.navbar-list-options li a:hover{
   color: var(--color1);
}

.logo img{
    height: 50px;
    width: 50px;
}

/*===========================HERO===========================*/

#hero{
    background-color: var(--color4);
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

.hero-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 70px;
    text-align: justify;
}

.hero-img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 70px;
}

.hero-img img{
    width: 500px;
}

.hero-buttons{
    display: flex;
    gap: 20px;
}

#hero h1{
    font-size: 2.5rem;
}

.hero-buttons .hero-button-call{
    text-decoration: none;
    border: 1px solid var(--color1);
    border-radius: 40px;
    padding: 10px;
    color: var(--color4);
    background-color: var(--color1);
}

.hero-buttons .hero-button-read:hover{
    border: 1px solid var(--color2);
    color: var(--color2);
}

.hero-buttons .hero-button-call:hover{
background-color: var(--color2);
border: 1px solid var(--color2);
color: var(--color1) ;
}

.hero-buttons .hero-button-read{
    text-decoration: none;
    border: 1px solid var(--color1);
    border-radius: 40px;
    padding: 10px;
    color: var(--color1);
}

.about-content{
    background-color: var(--color4);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.about-content p,
.about-content h2
{
    width: 80%;    
}

.about-content p{
    text-align: justify;
}

#about h2{
    font-size: 2rem;
}

/*===========================SERVICIOS===========================*/

#services{
    background-color: var(--color4);
    text-align: center;
    margin-bottom: 20px;
    padding: 40px 0;
}

#services h2{
    font-size: 2rem;
}

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;    
}

.services-card{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 3px solid var(--color1);
    padding: 25px 40px 25px 40px;
    border-radius: 0px 50px 0px 50px;
}

.services-card:hover{
    cursor: pointer;
    border: 3px solid var(--color2);
    border-radius: 50px 0px 50px 0px;
    background-color: var(--color1);
    transition: all .5s;
}

.services-card img{
    width: 30%;    
}

/*===========================CONTACT===========================*/

#contact{
    background-color: var(--color4);
    display: flex;
    margin-bottom: 20px;
}

.contact-container-data{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-container-img{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}

.contact-img{
    width: 570px;
}

.data-redes{
    display: flex;
    gap: 15px;
}

.data-redes img{
    width: 40px;
}

.data-redes img:hover{
    transform: scale(1.3);
    transition: all .6s;
    cursor: pointer;
}

.contact-data{
    display: flex;
    gap: 30px;
    line-height: 35px;
}

.contact-data-ejemplo1,
.contact-data-ejemplo2{
list-style-type: none;
}

.contact-container-data h3{
    font-size: 3rem;
}

.contact-container-data h4{
    font-size: 20px;
}

/*===========================FOOTER===========================*/

footer{
/*background-color: var(--color4);*/
display: flex;
justify-content: space-around;
align-items: center;
padding-top: 10px;
padding-bottom: 10px;

background-color: rgba(246, 247, 193, 1);
background-image: linear-gradient(180deg, rgba(246, 247, 193, 1) 0%, rgba(193, 174, 252, 1) 100%);
}

footer img{
    width: 50px;
    height: 50px;
}

footer p span{
    font-weight: 800;
}

/*===========================BOTON WHATSAPP===========================*/

.whatsapp img{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 70px;
}